@import "_colors";
@import "_mixin";

body {
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 980px;
}

.menu-topo {
  background: $primary;
  padding: 14px;
  position: fixed;
  width: 100%;
  z-index: 10;
  ul {
    display: block;
    li {
      float: left;
      a {
        color: $secondary;
        display: block;
        padding: 0px 15px;
        text-decoration: none;
        font-size: 14px;
        @include animate;
        &:hover {
          color: #fff;
        }
      }
      .active {
        color: #fff;
      }
    }
  }
}

header {
  width: 100%;
  min-height: 680px;
  background: $secondary;
  background-image: url(../images/bg-topo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  .box-logo {
    margin-top: 130px;
    padding: 50px 20px;
    border-radius: 15px;
    align-self: flex-start;
    color: $grey;
    text-align: center;
    background: url("../images/borda.png") no-repeat center center;
    h1 {
      font-family: "Merienda", cursive;
      font-size: 43px;
      font-weight: bold;
    }
    h2 {
      font-size: 25px;
    }
  }
}

main {
  background: $yellow;
  h1 {
    font-size: 16px;
    color: $primary;
    text-align: center;
  }
  p {
    color: $grey-text;
    font-size: 14px;
    line-height: 17px;
  }
  .mainContainer {
    background: $white;
    margin-top: -70px;
    padding-bottom: 50px;
  }
  .box-info {
    .box-blue {
      background: $primary;
      margin-top: -38px;
      padding: 40px 50px 50px 36px;
      font-size: 13px;
      .titulo {
        color: $secondary;
      }
      .texto {
        color: $white;
        font-size: 12px;
      }
    }
    .box-bt {
      display: flex;
      justify-content: center;
      button {
        background: $primary;
        border: none;
        color: #fff;
        padding: 10px 20px;
        font-size: 12px;
        @include animate;
        &:hover {
          background: #288ebc;
        }
      }
    }
  }
  .list-regras {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    color: $grey-text;
  }
}

footer {
  background: $white;
  border-top: 8px $primary solid;
  padding: 25px;
  .row {
    justify-content: center;
  }
  img {
    align-self: center;
  }
}

.modal-dialog {
  max-width: 600px;
  .modal-title {
    font-size: 18px;
  }
  label {
    font-weight: bold;
  }
  .termos {
    border: 1px solid #cccccc;
    max-height: 200px;
    overflow: auto;
    p {
      color: $grey-text;
      font-size: 16px;
    }
  }
}
